---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <hr>
    <article class="page-content">
        {{ content }}
    </article>
</div>
<div class="post-area post comment">
    <!-- 多说评论框 start -->
    
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="de8ug.github.io{{ page.url }}"></div>
</div>

<!--多说挂了。换gitment-->
 <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        owner: 'de8ug',
      repo: 'de8ug.github.io',
      oauth: {
        client_id: '5f74403c334bec06f8e6',
        client_secret: 'd80087c55a4b4e84b44e17a6896b6ac91199a398',
      },
    })
    gitment.render('container')
    </script>
</div>
    
    <!-- 多说评论框 end -->
 <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>

</div>
